/* Colors */
:root {
    --primary-color: #007bff;
    --secondary-color: #333;
    --background-color: #f4f4f4;
    --border-color: #ccc;
    --text-color: #333;
    --input-background-color: #f9f9f9;
    --input-border-color: #ccc;
    --button-background-color: #007bff; /* Valor da variável --primary-color */
    --button-disabled-background-color: #ccc;
}

/* Sizes and Spacing */
:root {
    --input-padding: 0.5em;
    --input-margin: 0.4em 0;
    --form-max-width: 400px;
    --form-padding: 1em;
    --form-border-radius: 1em;
    --button-padding: 0.5em;
    --header-padding: 1em 0;
    --footer-padding: 1em 0;
    --header-font-size: 2.5em;
    --form-label-margin-bottom: 0.5em;
    --header-margin-bottom: 2em;
}

form {
    max-width: var(--form-max-width);
    margin: 0 auto;
    padding: var(--form-padding);
    border: 1px solid var(--border-color);
    border-radius: var(--form-border-radius);
    background-color: var(--input-background-color);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: var(--input-padding);
    margin: var(--input-margin);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-color); /* Parece que houve um erro aqui, o valor correto deve ser var(--form-border-radius) */
}

button[type="submit"] {
    width: 100%;
    padding: var(--button-padding);
    color: #fff;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: var(--button-disabled-background-color);
    cursor: not-allowed;
}

label {
    margin-bottom: var(--form-label-margin-bottom);
    color: var(--text-color);
    display: block;
}

header {
    text-align: center;
    margin-bottom: var(--header-margin-bottom);
}

header h1 {
    font-size: var(--header-font-size);
    color: var(--primary-color);
}
